.product h2{margin:76px 0 22px 0;text-align: center;
	font-size:36px;font-family: 微软雅黑;color:#333;
font-weight:normal;}
.product h2:before{content:'';border-top:1px solid #000;width:315px;display: inline-block;
margin-right:64px;margin-bottom: 14px}
.product h2:after{content:'';border-top:1px solid #000;width:315px;display: inline-block;
margin-left:64px;margin-bottom: 14px}
.product .content #menu ul li a{font-size:24px;font-family:微软雅黑;
color:#686360;display:block;height:46px;margin-top:20px;margin-bottom:12px;}
.product .content #menu ul li:hover a{color:#e73754;
	background:url(../images/pro_pn5.png) 32px 28px no-repeat;}
.product .content #menu ul li.on a{color:#e73754;
	background:url(../images/pro_pn5.png) 32px 28px no-repeat;}
.product .content #menu ul li{display:inline-block;text-align:center;
	width:104px;margin:48px 95px 0 95px;cursor:pointer;}
.product .content{width:1200px;margin:0 auto;}
.product .content #menu ul li:first-child i{background:url(../images/pro_pn1.png) no-repeat;background-position: center center;}
.product .content #menu ul li:first-child:hover i{background:url(../images/pro_pn11.png) no-repeat;background-position: center center;}
.product .content #menu ul li:first-child+li i{background:url(../images/pro_pn2.png) no-repeat;background-position: center center;}
.product .content #menu ul li:first-child+li:hover i{background:url(../images/pro_pn22.png) no-repeat;background-position: center center;}
.product .content #menu ul li:first-child+li+li i{background:url(../images/pro_pn3.png) no-repeat;background-position: center center;}
.product .content #menu ul li:first-child+li+li:hover i{background:url(../images/pro_pn33.png) no-repeat;background-position: center center;}
.product .content #menu ul li:first-child+li+li+li i{background:url(../images/pro_pn4.png) no-repeat;background-position: center center;}
.product .content #menu ul li:first-child+li+li+li:hover i{background:url(../images/pro_pn44.png) no-repeat;background-position: center center;}
.product .content #menu ul li i{width: 74px;height:61px;display:block;margin:0 auto;}
.product .content #menu>ul>li:first-child+li.on>i{background:url(../images/pro_pn22.png) no-repeat;background-position: center center;}
.product .content #menu>ul>li:first-child.on>i{background:url(../images/pro_pn11.png) no-repeat;background-position: center center;}
.product .content #menu>ul>li:first-child+li+li.on>i{background:url(../images/pro_pn33.png) no-repeat;background-position: center center;}
.product .content #menu>ul>li:first-child+li+li+li.on>i{background:url(../images/pro_pn44.png) no-repeat;background-position: center center;}

.product .content img{display:block;margin:64px auto 0;}
.product .content .text h3{font-size:24px;font-family: 微软雅黑;
	font-weight: normal;color:#333;margin-bottom:22px;}
.product .content .text{width:910px;margin-bottom:38px;margin-left:78px;}
.product .content .text p{text-indent:2em;font-size:16px;
	font-family: 微软雅黑;color:#000;line-height:32px;}
.product .content .text div{line-height:30px;}












